* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.div-clear {
    clear: both;
}

.menu {
    width: 65%;
    height: 39px;
    float: right;
    padding-right: 0px;
    text-align: right;
}

.menu ul {
    list-style: none;
    padding: 0px 84px;
}

.menu ul li a {
    text-decoration: none;
    color: black;

}

.menu ul li {
    display: inline-block;
    padding: 10px 17px;
}

.menu ul li:hover {
    border: 1px solid whitesmoke;
    border-radius: 3px;
    background-color: rgb(253, 236, 236);
}

.half {
    width: 50%;
    float: left;
}

.imfont {
    font-family: 'Do Hyeon', sans-serif;
    font-size: 60px;
    color: rgb(18, 18, 70);
}

.half h1 {
    font-size: 60px;
}

.half h1 span {
    color: coral;
}

.firstintro {
    font-family: 'Roboto', sans-serif;
    margin-top: 2%;
}

.up {
    margin-top: 20%;


}

.header {
    margin-top: 8%;
}

.hire {
    padding: 6px;
    margin-top: 2%;
    background-color: rgb(233, 233, 233);
    border: 4px solid rgb(255, 235, 235);
    border-radius: 6px;
    margin-left: 20%;
    color: tomato;
}

button:hover {

    cursor: pointer;
    padding: 6px;
    margin-top: 2%;
    background-color: rgb(255, 238, 0);
    border: 4px solid rgb(238, 255, 1);
    border-radius: 6px;

}

.header img {
    width: 90%;
    margin-top: 5%;
    height: 500px;
}

.secondArea {}

.secondArea .up {
    margin-top: 20%;
    margin-left: 25%;
}

.secondArea img {
    width: 90%;
    height: 550px;
}
.secondArea p{
    font-family: 'Roboto', sans-serif;
    margin-top: 3%;
}
.secondArea .up {
    margin-top: 25%;
}
.container{
    background-color: whitesmoke;
    height: 560px;
    
}
.work h1{
    text-align: center;
    padding-top: 70px;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 30px;
    margin-bottom: 5%;
    
}
.work span{
    
    color: coral;
    
    
}
.work .experince1{
    width: 30%;
    float: left;
    margin-left: 5%;
}
.work img {
    width: 100%;
}
.experince2{
    width: 30%;
    float: left;
}
.experince3{
    width: 30%;
    float: left;
}
.chatOption{
    background-image: url(image/Group_33094_1.png);
    
    background-position: center;
    background-size: 1000px 200px;
    height: 200px;
    background-repeat: no-repeat;
    margin-right: 24%;
    margin-top: 8%;
}
.chatOption button{
    
    background-color: wheat;
    padding: 8px;
    border: 1px solid wheat;
    border-radius: 6px;
    margin-left: 74%;
    margin-top: 8%;

    
}


.footer{
    background-color: #010727fb;
    color: white;
    padding: 14px;
}
.footer .permanentAddress{
    width: 33.33%;
    float: left;
    padding: 8px;
}
.footer .facebook{
    width: 33.33%;
    float: left;
    padding: 8px;
}
.footer .versity{
    width: 33.33%;
    float: left;
    padding: 8px;
}

.footer .copyright{
    text-align: center;
}


/* footer area */